Source: @NAME@
Section: misc
Priority: extra
Maintainer: @MAINTAINER@ <@MAINTAINER_EMAIL@>
Build-Depends:
 debhelper (>= 7.0.50~),
 cmake,
 libbz2-dev,
 libcurl4-openssl-dev,
 libglib2.0-dev,
 libmagic-dev,
 libxml2-dev,
 liblzma-dev,
 libssl-dev,
 librpm-dev (>= 4.15),
 libdrpm-dev,
 libexpat1-dev,
 libzstd-dev,
 libzck-dev,
 libmodulemd2-dev,
 libmodulemd2,
 pkg-config,
 python3-nose,
 libyaml-dev,
 python3-setuptools,
 zchunk,
 python3-dev
Standards-Version: 3.8.4
Homepage: @URL@ 

Package: @NAME@
Architecture: all
Depends: ${misc:Depends}, libbz2-1.0, libcurl4, libglib2.0-0, libmagic1, libxml2, liblzma5, libssl3, librpm9, libdrpm, libexpat1, libzck, libzstd1, libmodulemd2, libyaml-0-2
Description: @SUMMARY@ 
 @DESCRIPTION@ 

Package: libcreaterepo-c1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libbz2-1.0, libcurl4, libglib2.0-0, libmagic1, libxml2, liblzma5, libssl3, librpm9, libdrpm, libexpat1, libzck, libzstd1, libmodulemd2, libyaml-0-2
Multi-Arch: same
Description: library for creating RPM repository metadata
 The createrepo tool generates the repodata directory and XML metadata that
 makes up a repository of RPM packages. This repository format is supported
 by apt-rpm, red-carpet(zen), smartpm, up2date, yast, and yum.
 .
 This package contains a shared library for managing RPM repositories.

Package: libcreaterepo-c-dev
Section: libdevel
Architecture: any
Depends:
 libcreaterepo-c1 (= ${binary:Version}),
 libbz2-dev,
 libcurl4-openssl-dev,
 libglib2.0-dev,
 liblzma-dev,
 libmagic-dev,
 libpython3-dev,
 librpm-dev,
 libssl-dev,
 libsqlite3-dev,
 libxml2-dev,
 python3-nose,
 zlib1g-dev,
 ${misc:Depends}
Multi-Arch: same
Description: library for creating RPM repository metadata (development)
 The createrepo tool generates the repodata directory and XML metadata that
 makes up a repository of RPM packages. This repository format is supported
 by apt-rpm, red-carpet(zen), smartpm, up2date, yast, and yum.
 .
 This package contains the header files needed for developing programs
 using the libcreaterepo-c library.

Package: python3-createrepo-c
Section: python
Architecture: any
Depends:
 libcreaterepo-c1 (= ${binary:Version}),
 ${python3:Depends},
 ${shlibs:Depends},
 ${misc:Depends}
Multi-Arch: foreign
Description: library for creating RPM repository metadata (Python bindings)
 The createrepo tool generates the repodata directory and XML metadata that
 makes up a repository of RPM packages. This repository format is supported
 by apt-rpm, red-carpet(zen), smartpm, up2date, yast, and yum.
 .
 This package contains a Python module for interfacing with
 the libcreaterepo-c library.
