#!/usr/bin/make -f

# Aim for the top, adapt if anything should break on the buildds.
DEB_BUILD_MAINT_OPTIONS=	hardening=+all future=+lfs
export DEB_BUILD_MAINT_OPTIONS

D=	${CURDIR}/debian
MARCH:=	$(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)

%:
	dh "$@" --buildsystem cmake

override_dh_auto_configure:
	dh_auto_configure -- -DENABLE_DRPM=ON

override_dh_makeshlibs:
	dh_makeshlibs -- -c4

override_dh_auto_install:
	dh_auto_install
	if [ -e debian/createrepo-c/usr/local/ ]; then mv debian/createrepo-c/usr/local/lib/python* debian/createrepo-c/usr/lib/; fi
