Source: @NAME@
Section: misc
Priority: extra
Maintainer: @MAINTAINER@ <@MAINTAINER_EMAIL@>
Build-Depends:
 debhelper (>= 7.0.50~),
 meson,
 cmake,
 pkg-config,
 libzstd-dev,
 libcurl4-openssl-dev,
 libssl-dev
Standards-Version: 3.8.4
Homepage: @URL@ 
X-Python3-Version: >= 3.0

Package: @NAME@
Architecture: i386 amd64
Depends: libzck1
Description: @SUMMARY@ 
 @DESCRIPTION@ 

Package: libzck1
Architecture: i386 amd64
Depends: ${misc:Depends}, libzstd1, libcurl4, libssl3
Description: @SUMMARY@ 
 @DESCRIPTION@ 

Package: libzck-dev
Architecture: i386 amd64
Depends: libzck1
Description: @SUMMARY@ 
 @DESCRIPTION@ 
