Source: @NAME@
Section: misc
Priority: extra
Maintainer: @MAINTAINER@ <@MAINTAINER_EMAIL@>
Build-Depends:
 debhelper (>= 7.0.50~),
 cmake,
 pkg-config,
 check,
 libexpat1-dev,
 libglib2.0-dev,
 libgpgme11-dev,
 libattr1-dev,
 libcurl4-openssl-dev,
 libssl-dev,
 libpython3-dev,
 libxml2-dev,
 libzck-dev,
 libzstd-dev,
 python3-gpg,
 python3-nose,
 python3-pyxattr
Standards-Version: 3.8.4
Homepage: @URL@ 
X-Python3-Version: >= 3.0

Package: @NAME@
Architecture: all
Depends: ${misc:Depends}, libglib2.0-0, libexpat1, libgpgme11, libattr1, libcurl4, libssl3, libxml2, libzck, libzstd1
Description: @SUMMARY@ 
 @DESCRIPTION@ 

Package: @NAME@-dev
Architecture: all
Depends: ${misc:Depends}, @NAME@
Description: @SUMMARY@ 
 @DESCRIPTION@ 

Package: python3-@NAME@
Architecture: all
Depends: ${misc:Depends}, @NAME@, python3
Description: @SUMMARY@, Python 3 bindings
 @DESCRIPTION@

